name: CI

on:
  workflow_dispatch:
  push:
    branches: ["main", "develop"]
    tags: ["v*"]
  pull_request:
    branches: ["main", "develop"]

permissions: {}

jobs:
  build-with-xk6:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: 1.25.x
          cache: false
      - name: Setup xk6
        if: runner.os == 'Windows'
        uses: grafana/setup-xk6@97b842b765bd3fea56db7195e98c5f61cab8fe46 # v1.1.1
        with:
          xk6-version: "1.3.1"
          dir: "/mingw64/bin"
      - name: Setup xk6
        if: runner.os != 'Windows'
        uses: grafana/setup-xk6@97b842b765bd3fea56db7195e98c5f61cab8fe46 # v1.1.1
        with:
          xk6-version: "1.3.1"

      - name: Create WSL config file
        if: runner.os == 'Windows'
        run: |
          cat <<EOT >> $HOME/.wslconfig
          [wsl2]
          localhostForwarding=true
          firewall=false
          EOT
          cat $HOME/.wslconfig
        shell: bash

      - name: Install and Configure WSL 2
        if: runner.os == 'Windows'
        uses: Vampire/setup-wsl@v6
        with:
          distribution: Ubuntu-24.04
      # - name: Put WSL IP to Env Variable
      #   if: runner.os == 'Windows'
      #   run: |
      #     $wslIp = (wsl hostname -I).Trim()
      #     echo "WSL_IP=$wslIp"
      #     echo "WSL_IP=$wslIp" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf-8 -Append
      #     netsh interface portproxy add v4tov4 listenport=50000 listenaddress=0.0.0.0 connectport=50000 connectaddress=$wslIp
      - name: WSL - Setup Docker
        if: runner.os == 'Windows'
        shell: wsl-bash {0}
        run: |
          # These are the official install instructions for Docker on Ubuntu
          # if this stops working, refer to https://docs.docker.com/engine/install/ubuntu/

          # Add Docker's official GPG key:
          sudo apt -y update
          sudo apt -y install ca-certificates curl
          sudo install -m 0755 -d /etc/apt/keyrings
          sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
          sudo chmod a+r /etc/apt/keyrings/docker.asc

          # Add the repository to Apt sources:
          sudo tee /etc/apt/sources.list.d/docker.sources <<EOF
          Types: deb
          URIs: https://download.docker.com/linux/ubuntu
          Suites: $(. /etc/os-release && echo "${UBUNTU_CODENAME:-$VERSION_CODENAME}")
          Components: stable
          Signed-By: /etc/apt/keyrings/docker.asc
          EOF

          sudo apt update -y
          sudo apt install -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
          sudo systemctl start docker
      - name: WSL - Run DB2 Container
        if: runner.os == 'Windows'
        shell: wsl-bash {0}
        run: |
          cat /etc/wsl.conf
          sudo docker run --rm -d --name db2test --platform="linux/amd64" --privileged=true -p 50000:50000 -e LICENSE=accept -e DB2INST1_PASSWORD=password123 -e DBNAME=SAMPLE icr.io/db2_community/db2:latest
          until sudo docker exec db2test su - -c "db2 connect to SAMPLE" db2inst1; do sleep 5; done      

      - name: Check WSL config file
        if: runner.os == 'Windows'
        run: |
          ls -lsah $HOME/
          cat $HOME/.wslconfig
        shell: bash

      - name: Build
        run: make build
        shell: bash
      
      - name: Test
        if: runner.os != 'Windows'
        run: make container-test
        shell: bash
      - name: Test
        if: runner.os == 'Windows'
        run: |
          export LIB=${PWD}/../../clidriver/bin:$LIB
          export PATH=$LIB:$PATH
          make test
        shell: bash